body {
    background-color: #2c2c2c;
    color: white;
}
.intro {
    background-color: #ffaf64;
    color: black;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
}
.tarjeta {
    background-color: #ffca89;
    width: 469px;
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
    color: black;
    display: inline-block;
}
.indice {
    background-color: #ffd39d;
    color: black;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 100vh;
    text-align: center;
    ul {
        list-style: none;
        padding: 0px;
    }
}

.concepto {
    display: inline-block;
    color: darkred; 
    font-weight:bold;
    font-style: italic;
}

.codigo {
    background-color: #360e003d;
    padding: 3px;   
    border-radius: 5px;
    font-family:'Courier New', Courier, monospace;
    font-size: 0.91em;
}

.formula {
    background-color: #fde194;
    width:max-content;
    padding: 15px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #212121;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.95em;
    color: #2c2c2c;
}

#presentacion {
    background-color: #ffd153;
    color:#2c2c2c;
    padding:15px;
    margin-bottom: 5px;
    text-align: center;
}

table {
    background-color: #fde194;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #212121;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f6f6f6;
}

@media screen and (max-width: 1032px) {
    .tarjeta {
        width: 44%;
    }
}
@media screen and (max-width: 866px) {
    .tarjeta {
        width: 450px;
    }
}
@media screen and (max-width: 530px) {
    .tarjeta {
        width: auto;
        margin: 5px 0px;
    }
}